mixin s-mistakes-page()
	// start s-mistakes-page
	+b.SECTION.s-mistakes-page.section#s-mistakes-page&attributes(attributes)
		.container
			h1 5 ошибок при выборе навеса или беседки
			+e.img-wrap
				img.res-i(src='img/@2x/m1.jpg')
			p Каждый должен заниматься своим делом: Вы – наслаждаться отдыхом с семьей в удобной надежной беседке с мангалом и барбекю, а специалисты – воплощать проект Вашей беседки или навеса в реальность.
			p Однако, найти профессиональных специалистов непросто: встречаются фирмы-однодневки, работающие без официальных договоров, подрядчики, у которых «и так сойдёт», и просто некомпетентные умельцы, первой целью которых является заработать на Вас, использующие неквалифицированную рабочую силу. В таких условиях Вам приходится разбираться во всех тонкостях самостоятельно, чтобы лично контролировать ход работ.
			p Компания Stolyar Land - это специалисты на каждом уровне выполнения проекта. Вы можете забыть о куче литературы и блужданиях по сети интернет. Мы спроектируем, изготовим и смонтируем беседку или навес, тщательно всё проконтролировав. Ознакомьтесь со всеми пунктами на этой странице – они сэкономят Вам немало времени, позволив сразу узнать все важные нюансы выбора.
			p
				strong Цена ошибки: от 30 000 до 250 000 руб. или цена нового навеса или беседки.
			p
				strong Решение: доверьтесь профессионалам! Специалисты из Stolyar Land помогут Вам с правильным выбором.
			br
			+e.img-wrap
				img.res-i(src='img/@2x/m2.jpg')
			p Он может быть сделан по многим причинам, но основные – это желание сэкономить и простое «незнание». На данный момент рынок строительных материалов предлагает их широкий выбор. Например, крыша из дешевого поликарбоната ненадежна при попадании снега, сосулек и града. Такие материалы содержат не высокую светопропускающую способность и выгорание, ограничение в цветовых и дизайнерских решениях. Пластик сильно расширяется под воздействием тепла, а также сужается при влиянии отрицательных температур. Каркас беседки из профильной металлической трубы плохо обрабатывается, не зачищенный и покрашенный металл очень скоро «проявит» себя в виде ржавчины, отслоившейся краски.
			+e.img-wrap
				img.res-i(src='img/@2x/m3.jpg')
			p
				strong Цена ошибки: от 10 000 до 80 000 руб. – цена ежегодного перекрытия крыши, покраски и ухода за металлическими конструкциями.
			br
			+e.img-wrap
				img.res-i(src='img/@2x/m4.jpg')
			p За счет низкой стоимости навеса из металлического профиля, мастера зачастую записывают размеры со слов заказчика и не выезжают на замер лично. Экономный расчет и превышение возможного уровня изгиба, больший шаг соединительных профилей - пытаясь сэкономить на комплектующих, такую ошибку совершают нередко. В результате навес полностью утрачивает несущую способность и может привести к полному обрушению конструкции в последствии.
			+e.img-wrap
				img.res-i(src='img/@2x/m5.jpg')
			p
				strong Цена ошибки: от 50 000 руб. до цены человеческой жизни – увы, обрушение металлических конструкций, навесов и остановок стали нередкой трагедией за последние годы.
			br
			+e.img-wrap
				img.res-i(src='img/@2x/m6.jpg')
			p Часто, уже выбрав определенную модель и материал изготовления, человек ищет кто же предложит её с монтажом и изготовлением подешевле. Тут таится значительная опасность попасть на некомпетентных исполнителей (обычно именно поэтому их работа и стоит дешевле). Например, при монтаже нарушаются ключевые правила ориентации поликарбонатных панелей. Это приводит к неправильному оттоку воды и, как следствие, её застаиванию и гниению в сотах поликарбоната. На листах сотового поликарбоната находится слой клея, которым крепится защитная пленка из полиэтилена. Находясь на открытом солнце, клей может наглухо приклеиться к поверхности панели, что приведет к затруднению удаления защитного слоя, а на самих панелях могут остаться заметные следы от клея.
			p Также при нарушении условий транспортировки возникает сворачивание листов из поликарбоната в рулоны, имеющие радиус значительно меньше, чем предусматривают нормы, а частое хранение в вертикальном положении приводит к поперечным заломам. При монтаже для экономии также зачастую сваривают и склеивают панели, что категорически запрещено производителем.
			p
				strong Цена ошибки: от 40 000 до цены нового навеса или беседки.
			br
			+e.img-wrap
				img.res-i(src='img/@2x/m7.jpg')
			p Да-да, выбирая изделия из металлического профиля, Вы ограничиваете себя в дизайнерских и ландшафтных решениях. «Мертвые» металлические конструкции окружают нас повсюду. Неживая конструкция из металла сильно уступает отборной древесине хвойных и ценных пород дерева. Стремление к природе, чему-то настоящему и поистине живому – это выбор изделий из натурального дерева! Такие беседки и навесы четко сочетаются с ландшафтным дизайном и гармонично впишутся на любой участок или территорию загородного дома.
			p
				strong Цена ошибки: не верный выбор в пользу металлических конструкций.
			+e.img-wrap
				img.res-i(src='img/@2x/m8.jpg')
			
			
	// end s-mistakes-page