
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 
	.d-none
		+form-wrap()(id="modal-call" class="  modal-win modal-form" )
			.text-center
				+e.title.h3 Оставьте заявку
			+input("Ваше Имя")(required) 
			+input("Телефон","tel")(required)
			//- +input("email","Ваше email")(required)
			//- +text( "Комментарий")
			+e.polite-text Нажимая на кнопку «Получить консультацию», Вы соглашаетесь с 
				a(href='#') Политикой конфиденциальности
			+e.INPUT.btn.btn(type="submit" value="Получить консультацию") 
		

		+b.modal-phone.modal-win#modal-phone
			+e.title Заголовок
			+e.A.phone-block.btn(href='tel:+74952114630') +7 (495) 211-46-30
			+e.A.phone-block.btn(href='tel:+74952114630') +7 (495) 211-46-30
				
				
		// #modal-call
	// modal