mixin s-video()
	// start s-video
	+b.SECTION.s-video.section#s-video&attributes(attributes)
		.container
			h1 Компания StolyarLand в передаче "Современное строительство".
			+e.text Изготовление и монтаж арочного навеса для трех машин и въезда в гараж для семьи Дмитрия и Полины Дибровых.<br>Отзыв заказчиков, известного телеведущего и его жены Миссис России 2017
			+e.video-wrap
				<iframe width="560" height="315" src="https://www.youtube.com/embed/RgsSEf0tXOM" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	// end s-video