mixin s-mistakes()
	// start s-mistakes
	+b.s-mistakes.section#s-mistakes&attributes(attributes)
		.container
			+e.title 5 существенных ошибок при выборе беседки или навеса
			+e.A.btn(href='#') Узнать
	// end s-mistakes