mixin s-features(t)
	// start s-features
	+b.SECTION.s-features.section&attributes(attributes)
		.container
			if t == '1'
				+e.main-row.row
					+e.col.col-md-6
						h3.line-left Устанавливаем на свайный фундамент
						p Вместо ленточного фундамента мы используем свайный. Заглубление свай - от 1.20 до 2 метров. Предварительно сваи обрабатываются антикоррозийным покрытием и после установки заливаются бетоном.
						p Свайный фундамент делает устойчивость беседки надежнее в 2,5 раза!
						+form-wrap
							input(type='hidden' name='order' value='форма')
							.row
								.col-md-7
									+input('Ваш телефон','tel','','tel')(required)
								.col-md-5
									+e.btn.btn(type='submit') Оставить заявку
					+e.col.col-md-6
						+e.img-wrap--sm.text-center
							img.res-i(src='img/@2x/features1.jpg' alt='')
					+e.col.col-md-6.order-md-last
						+e.text-wrap
							h3.line-right Прочная кровля от Шинглас
							p Мы используем покрытие Shinglas для беседок, которое подчеркивает индивидуальность и архитектурный стиль Вашего строения. Кровельные материалы этого производителя имеют битумный состав высокого качества. Такая кровля выдерживает проливные дожди, снег и град, без единого повреждения.
					+e.col.col-md-6
						+e.img-wrap
							img.res-i(src='img/@2x/features2.jpg' alt='')
			if t == '2'
				+e.main-row.row
					+e.col.col-md-6
						h3.line-left Алюминиевые двери высотой до 2,30 метров
						p Мы устанавливаем раздвижные конструкции рекордной высоты. Если вы хотите установить высокие двери в беседку, которые добавят света и откроют обширный вид изнутри обращайтесь к нам. На каждую часть изделия мы даем гарантию.
					+e.col.col-md-6
						+e.img-wrap--sm.text-center
							img.res-i(src='img/@2x/features3.jpg' alt='')
					+e.col.col-md-6.order-md-last
						+e.text-wrap
							h3.line-right Перголы
							p Если вы желаете украсить приусадебный участок цветами и вьющимися растениями, а также затенить в знойную жару участок для отдыха, предлагаем Вам прекрасные перголы. Мы готовы воплотить любые дизайнерские фантазии в жизнь, будь то ячеистые перголы вдоль дорожек или продолжение беседки. Для этого мы используем те же высококачественные материалы, что и в работе с беседками. Мы сделаем индивидуальный проект с учетом ваших пожеланий.
					+e.col.col-md-6
						+e.img-wrap
							img.res-i(src='img/@2x/features4.jpg' alt='')

	// end s-features