mixin s-wood()
	// start s-wood
	+b.SECTION.s-wood.bg-wrap.section#s-wood&attributes(attributes)
		+pic('wood-bg.jpg','bg')(class='picture-bg')
		.container
			h2 Используем дерево высшего сорта
			+e.text Компания Stolyar Land предлагает строительство навесов и беседок "под ключ". <br>Предприятие создает оригинальные архитектурные решения для усадеб и дачных участков. Четкая организация производства позволяет качественно и точно в срок решать задачи любой сложности. <br>Материал изготавливается в собственном цеху из отборной древесины хвойных или ценных пород. Дерево высушивается в камере и имеет влажность 9-10%. В собственной малярной мастерской изделия покрываются в 3 слоя защитными составами Tikkurila, Belinka, Dufa, защищающими от действия влаги, перепадов температур, повреждения грибком и жучками. После каждого этапа обработки, брус шлифуется и полируется. Готовый материал отличается механической прочностью, устойчивостью к действию факторов внешней среды, экологической безопасностью.
	// end s-wood