mixin s-production()
	// start s-production
	+b.SECTION.s-production.section#s-production&attributes(attributes)
		.container
			.row
				+e.col.col-md-6
					h2 Собственное производство
					p Мы производим и склеиваем брус на нашем собственном производстве. Этапы работ контролируются, и все изделия на 100% сделаны нашими мастерами.
					p В цехе мы собираем изделия в модули. Так мы ускоряем сборку на участке заказчика. Собрать беседку реально за 1-3 дня.
				+e.col.col-md-6
					h2 Гарантийное обслуживание
					p После монтажа вы получите гарантийный бланк. В течение 1 года мы приедем по первому звонку, чтобы проверить состояние беседки или устранить возможные неисправности.
					p Подтягиваем крепления, проверяем состояние краски и кровли. Это значительно продлевает срок службы беседки.
			+e.A.btn.btn(href='#') Оставить заявку на замер
	// end s-production