mixin header-block()
	// start header-block
	+b.header-block.bg-wrap#header-block&attributes(attributes)
		+pic('header-bg.jpg','bg')(class='picture-bg')
		.container
			h1 Мы - производители. Экономим Ваш бюджет до 20%&nbsp;из-за отсутствия посредников. Цена за навес&nbsp;/&nbsp;беседку от 150 000 рублей
			+e.subtitle с Вами свяжется наш специалист в течение 5 минут для расчета сметы.
			+e.btn.link-modal(href='#modal-call') Рассчитать беседку по АКЦИИ
	// end header-block