mixin s-reviews()
	// start s-reviews
	+b.SECTION.s-reviews.section#s-reviews&attributes(attributes)
		.container
			+e.video-block
				+e.H2.video-title Видео отзывы
				+e.video-wrap
					<iframe width="560" height="315" src="https://www.youtube.com/embed/RgsSEf0tXOM" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				+e.video-wrap
					<iframe width="560" height="315" src="https://www.youtube.com/embed/vYF8jRt4OWM" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			+e.H2.title Отзывы
			.row
				+e.col.col-md-6
					+e.item
						+e.text Беседка получилась невероятно красивой. Мы боялись, что результат будет отличаться от проекта, но получилось даже лучше.Команда монтажников работала не покладая рук, приятные отзывчивые ребята. У нас рядом строилась баня, они банщикам даже немного помогали.
				+e.col.col-md-6
					+e.item
						+e.text Заказывали беседку летом 2016 года в Чечне, довольны результатом. Беседка выглядит ювелирно, никаких недочетов. Браво!
				+e.col.col-md-6
					+e.item
						+e.text Дорого и долго, однозначно из-за сложности конструкции.Но качественно, очень качественно. Плюс ко всему - монтажники приезжают на обслуживание в течение года. Проверяют состояние, подтягивают конструкцию. В общем, стоит своих денег.
				+e.col.col-md-6
					+e.item
						+e.text Сначала приехал менеджер, произвел замеры на участке. Оказалось, что существующий фундамент, сделан не ровно, но посовещавшись решили не переделывать. Большая часть работы проводилась в цеху, к нам привезли уже практически готовую беседку. Результат радует глаз каждый день.
				.col-12
					+e.item
						+e.text Давно хотел большую беседку на своем участке, чтобы отдыхать в ней всей семьей. Беседку нужно было поставить на винтовых сваях и я хотел беседку именно белого цвета. Понравилось что приехали ко мне на следующий день, проконсультировали и взялись за всю работу под ключ: сами купили и закрутили сваи, сделали беседку и установили у меня на участке. Таким образом через 3 недели беседка уже стояла около моего дома. Спасибо!

	// end s-reviews